@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainmain{
    width: 100%;
    height: 100%;
    /* background: url(./img/outerspace-75\ —\ копия.gif); */
    /* background-color: white; */
}
.header{
    width: 100%;
    height: 100%;
    
}
.header h1{
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.header > p {
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.box_job{
    width: 1000px;
    height: 450px;
    background-color: rgb(147, 151, 151);
    border-radius: 13px;
    margin: 50px auto 0 auto;
    
}
.box_job h2{
    margin-left: 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.logo{
    display: flex;
    padding: 0 0 10px 0;
    border-bottom: 1px solid black;
    
}
.logo h3{
    font-size: 15px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.logo i{
    margin-left: 5px;
}
.logo_name{
    margin-left: 10px;
}
.box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box .conteiner_job{
    width: 250px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border: 1px solid black;
    border-radius: 13px;
}
.box_inner{
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.view a{
    padding: 5px 5px;
    background-color: rgb(224, 224, 224);
    border: 1px solid black;
    border-radius: 7px;
    text-decoration: none;
    color: black;
    
}
input{
    position: absolute;
    left: 0;
    top: -15px;
}
input::before{
    content: "";
    position: fixed;
    background: url(./img/39f2bade-723c57083305190737254934fe2a4064.jpeg) no-repeat;
    background-size: 200%;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    top: 10px;
    right: 19%;
    cursor: pointer;
}
input:checked + .mainmain header{
    background: url(./img/outerspace-75\ —\ копия.gif) no-repeat;
    background-size: 110%;
    background-position-y: center;
}
input:checked + .mainmain header h1{
    font-family: 'Abril Fatface', cursive;
    color: white;
}
input:checked + .mainmain header p{
    font-family: 'Abril Fatface', cursive;
    color: white;
}
input:checked + .mainmain header .box_job {
    background: none;
    border: 2px solid white;
    color: white;
}
input:checked + .mainmain header .box_job .conteiner_job{
    border: 2px solid white;
}
input:checked + .mainmain header .box_job .conteiner_job .logo{
    border-bottom: 1px solid white;
}
input:checked + .mainmain header .box_job .box .conteiner_job{
    background: none;
}
input:checked + .mainmain header .box_job .conteiner_job .logo i{
    color: red;
}
@media screen and (max-width:999px)
{
    .box_job{
        width: 580px;
        height: 100%;
    }
    input:checked + .mainmain header{
        background: url(./img/outerspace-75\ —\ копия.gif)no-repeat;
        background-size: 300%;
        background-position-y: center;
        background-position-x: 45%;
    }
}
@media screen and (max-width:648px) {
    input:checked + .mainmain header{
        background: url(./img/outerspace-75\ —\ копия.gif)no-repeat;
        background-size: 400%;
        background-position-y: center;
        background-position-x: 42%;
    }
}
@media screen and (max-width:592px) {
    .box_job{
        width: 200px;
    }
    .logo_name h3{
        font-size: 13px;
    }
    .box_inner{
        margin-top: 3px;
    }
    .box_inner p{
        font-size: 12px;
    }
    .view a{
        font-size: 12px;
        padding: 2px 2px;
    }
    input::before{
        position: fixed;
        right: 10%;
    }
    input:checked + .mainmain header{
        background: url(./img/outerspace-75\ —\ копия.gif)no-repeat;
        background-size: 500%;
        background-position-y: center;
        background-position-x: 42%;
    }
}
@media screen and (max-width:413px) 
{
    input:checked + .mainmain header{
    background: url(./img/outerspace-75\ —\ копия.gif)no-repeat;
    background-size: 600%;
    background-position-y: center;
    background-position-x: 42%;
    }
}
@media screen and (max-width:345px) 
{
    input:checked + .mainmain header{
        background: url(./img/outerspace-75\ —\ копия.gif)no-repeat;
        background-size: 700%;
        background-position-y: center;
        background-position-x: 42%;
        }
}